<div class="row">

    <div class="col-md-12>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="joke in jokes">
                <h3>The term of joke is : <strong ng-model="searchTerm">{{searchTerm}}</strong></h3>
                <p style="padding:16px;border:1px solid aliceblue;margin:15px 0;color:indianred">{{joke.joke}}</p>
                <p>Joke's id : <span class="badge badge-info">{{joke.id}}</span></p>

            </li>

        </ul>
    </div>

</div>

